@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*-webkit-overflow-scrolling: auto;*/
    overscroll-behavior: none;
}

canvas {
    touch-action: none;
}

.html {
    position: fixed !important;
    /*inset: 0;*/
}